<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.avellb155max.appcalorias">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="DATABASE"
            android:value="bancoCaloria.db" />
        <meta-data
            android:name="VERSION"
            android:value="13" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.avellb155max.appcalorias" />

        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Atividades.ListarCategoria"
            android:label="@string/title_activity_categoria"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Atividades.ListarSubCategoria"></activity>
        <activity
            android:name=".Atividades.ListarAlimentos"
            android:label="@string/title_activity_listar_alimentos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Atividades.ListarExercicios"></activity>
        <activity android:name=".CadastrarDadosPessoais"></activity>
        <activity android:name=".Atividades.ListarAtividades"></activity>
    </application>

</manifest>
